<div class="media">
  <div class="media-body">
    <div class="media-section text-center">
      <% if @cocktail.photo? %>
        <%= cl_image_tag @cocktail.photo.path%>
      <% end %>
    </div>
  </div>
  <div class="media-aside">
    <div class="media-section">
      <h2>Voici les ingrédients pour fabriquer un <%= @cocktail.name %> </h2>
        <% @cocktail.doses. each do |dose| %>
          <li> <%= dose.description  %> de <%= dose.ingredient.name  %></li>
        <% end  %>
    </div>
    <div class="media-section">
      <%= render 'shared/form', cocktail: @cocktail, dose: @dose %>
    </div>
  </div>
</div>

